.articles-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
}

.article {
    flex: 30%;
    margin: 1rem;
    min-width: 300px;
    min-height: 410px;
    cursor: pointer;
}

.article:hover .img-container {
    transform: scale(1.1);
}

.article h3 {
    font-size: 1.9rem;
    padding: 1rem 1.5rem;
}

.newsfeed-content h2 {
    font-size: 1.5rem;
    padding: 0 1.5rem;
}

.img-container {
    width: 100%;
    height: 30rem;
    background-size: cover;
    transition: transform 1s;
}

/* overflow */

.overflow-img {
    overflow: hidden;
}

.newsfeed-container {
    display: flex;
    flex-flow: row nowrap;
}

.category-container {
    flex: 200px;
}

.category-container li {
    margin: 1rem 0;
    transition: color 0.2s;
}

.category-container li:hover {
    color: var(--color-primary);
    cursor: pointer;
}

.small {
    font-size: 1.2rem;
    margin: 0 0.5rem;
}